<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.petcare.web.mapper.MemberMapper">
    <insert id="insertMember">
        insert into springpractice.test_member(username, password, email)
        VALUES (#{username}, #{password}, #{email})
    </insert>
    <select id="findCorrectUser" resultType="com.petcare.web.domain.Member">
        select *
        from springpractice.test_member tm
        where username = #{username}
          and password = #{password}
    </select>
    <select id="findByUsername" resultType="com.petcare.web.domain.Member">
        select *
        from springpractice.test_member tm
        where username = #{username}
    </select>
</mapper>